#root {
  max-width: 1280px;
  margin: 0 auto;
}
.result{
  text-align: right;
  background-color: rgb(166, 174, 174);
  padding: 10px;
  margin-left: 40px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
}
.result:hover{
  background-color: rgba(158, 154, 154, 0.651);
}
ul{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap:2px;
}
li{
  list-style-type: none;
  width: 55px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}
li:hover{
  background-color: rgba(185, 180, 180, 0.651);
  color: white;
}
